# Entorno virtual
venv/
ENV/
.env

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de VS Code
.vscode/

# Archivos temporales y de sistema
.DS_Store

# Instancia y base de datos local
instance/
*.sqlite3